/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #DDFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.name {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.bio {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
    line-height: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.social-link i {
    margin-right: 5px;
    font-size: 40px;
    color: #D4DADA;
}

.social-link:hover {
    color: #0056b3;
}
