/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    margin-top: 50px;
    background-color: #DDFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.name {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

.bio {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
    line-height: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.social-link i {
    margin-right: 5px;
    font-size: 40px;
    color: #D4DADA;
}

.social-link:hover {
    color: #0056b3;
}

.latest-articles {
    margin-top: 20px; /* プロフィールと記事の間にスペースを作る */
}

.latest-articles h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; /* タイトルの下にスペース */
}

.latest-articles ul {
    list-style-type: none; /* デフォルトのリストスタイルを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
}

.latest-articles li {
    background-color: #fff; /* 各記事を白い背景に */
    padding: 10px; /* 内側のスペースを追加 */
    margin: 5px 0; /* 各記事の間に垂直のマージンを追加 */
    border-radius: 5px; /* 角を丸める */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
    transition: transform 0.2s; /* ホバー時のアニメーションを追加 */
}

.latest-articles li:hover {
    transform: scale(1.02); /* ホバー時に少し大きくする */
}

.latest-articles a {
    text-decoration: none; /* リンクの下線を削除 */
    color: #666; /* リンクの色 */
}

.latest-articles a:hover {
    text-decoration: underline; /* ホバー時に下線を追加 */
}
